body {
background-image: url("flower-background.jpg") ;
text-align: center;
}
.header{
    grid-area: header; background-color:rgb(169, 169, 169,0.5)
    }
    .main{
        grid-area: main; background-color:rgb(169, 169, 169,0.5)
     }
     .image{
        grid-area: image; background-color:rgb(169, 169, 169,0.5)
     }
     .Left-side{
        grid-area: Left-side; background-color:rgb(169, 169, 169,0.5)
     }
     .Right-side{
        grid-area: Right-side; background-color:rgb(169, 169, 169,0.5)
     }
     .footer{
        grid-area: footer; background-color:rgb(169, 169, 169,0.5)
     }
    

.grid-container{
display: grid;
grid-template-areas: 
'header header header header'
'main main main image'
'main main main image'
'Right-side Right-side Left-side Left-side'
'footer footer footer footer'
;   
grid-template-rows: 50px 50px 50px 50px 50px 50p;
grid-gap: 60px;
padding: 60px;

}


 