<!DOCTYPE html>
<html>
    <head>
        <title>Welcome</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/CSS_page1.CSS') }}">
         <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Css_CV.CSS') }}">

    </head>
    <body>
        <div class="Enter">  <h3><a href="{{ url_for('page2') }}"><br>Click to enter</a></h3>
        <div class="Ball"><br><br>
            <h1>Welcome To My CV page</h1>
            <h4>Hilit Hazan</h4>



        </div>
    </div>


    </body>
</html>