<!DOCTYPE html>
<html>
    <head>
        <title>Hilit Hazan CV</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Css_CV.CSS') }}">
        <script type = "text/javascript" src="{{ url_for('static', filename='JS.js') }}"></script>
    </head>
    <body>


        <div class="grid-container">
            <div class= "header"><h1 onmouseover="style.color='rgb(204, 0, 153)'" onmouseout="style.color='rgb(204, 0, 255)'">HILIT HAZAN</h1> </div>
            <div class= "main"><a name="EDUCATION"><h4>EDUCATION:</h4></a> <br>
                <ul onmouseover="style.color='white'" onmouseout="style.color='black'">
                    <li> INDUSTRIAL ENGINEERING & MANAGEMENT (B.SC.)<br>
                Oct-2017 – Ongoing<br>
                Ben-Gurion University of The Negev<br>
                Specialization in Information systems.</li><br><br>
               <li> HIGH SCHOOL DIPLOMA <br>
                Sep-2010 – Jun-2013<br>
                Ort Yad Leibovitch High School – Netanya<br>
                Majored in Electronics & Computers and in Physics.</li><br>
            </ul>

        </div>
            <div class= "image"> <br><br><img src="{{ url_for('static', filename='img/profile_picture.JPG') }}" alt= "the image is not avilble" width=200px onload="UpdateFun()">
                <p id ="IMGDate"></p>
             </div>
            <div class= "Right-side"><a name="WORK HISTORY"><h4>WORK HISTORY: </h4></a><br>
                <ul  onmouseover="style.color='white'" onmouseout="style.color='black'">

                        INTEGRATION LAB ENGINEER<br>
                        Feb-2016 – Feb-2017<br>
                        Western Digital (Formally SanDisk), Kfar - Saba, Israel.<br><br>
                        <li>Running daily integration test for new SSD drives.</li>
                        <li>Working together with the developers while debugging errors on both windows and Linux Oss.</li>
                        <li>Running and optimizing integrations tests for new Asus, Lenovo, Toshiba products.</li>
                </ul>
            </div>
            <div class= "Left-side"> <a name="MILITARY SERVICE"><h4>MILITARY SERVICE: </h4></a><br>
                <ul onmouseover="style.color='white'" onmouseout="style.color='black'">
                    INTELLIGENCE UNIT "SAPIR" ("KESEM")<br>
                    SEP-2013 – OCT-2015<br>
                    <li>IT level 2 support for data systems for all intelligence units.</li>
                    <li>Promoted to the IT support team leader.</li>
                    <li>The job included constant work with system developers, programmers and the hardware team. </li>
                </ul>
            </div>
            <div class= "Right-side2"><a name="OBJECTIVE"><h4>OBJECTIVE: </h4></a><br>
                <ul onmouseover="style.color='white'" onmouseout="style.color='black'">
                    <li>Highly motivated 4th year student Industrial Engineering & Management – specialized Information systems.</li>
                    <li>Excellent interpersonal relations skills and organizational capability.</li>
                    <li>Accomplished self-learning skills.</li>
                    <li>A team player feels comfortable taking more responsibilities and leading.</li>
                    <li>Analytical and creative thinker.</li>
                </ul>
            </div>
            <div class= "center"><a name="SKILLS"><h4>SKILLS: </h4></a><br>
                <ul onmouseover="style.color='white'" onmouseout="style.color='black'">
                    <li>Programing languages: Java, Python, SQL, Visual Basic and RStudio.</li>
                    <li>Business intelligence capabilities - Tableau and Power BI.</li>
                    <li>High proficiency in Office applications.</li>
                    <li>Robotics background programing using LabVIEW and PLC.</li>
                </ul>
            </div>
            <div class= "Left-side2"><a name="LANGUAGES"><h4>LANGUAGES: </h4></a><br>
            <ul onmouseover="style.color='white'" onmouseout="style.color='black'">
                <li>Hebrew - Native</li>
                <li>English – High proficiency</li>
            </ul></div>

            <div class="menu">
          <a class="menuList" href="#EDUCATION"> EDUCATION</a>
          <a class="menuList" href="#WORK HISTORY">WORK HISTORY</a>
          <a class="menuList" href="#MILITARY SERVICE">MILITARY SERVICE</a>
          <a class="menuList" href="#OBJECTIVE">OBJECTIVE</a>
          <a class="menuList" href="#SKILLS">SKILLS</a>
          <a class="menuList" href="#LANGUAGES">LANGUAGES</a>
          <a class="menuList" href="#footer">INFORMATION</a>
            </div>

            <div class= "footer">
                <a name= "footer"></a>
                <p> <img src="{{ url_for('static', filename='img/Email.png') }}" alt= "the image is not avilble" width="40px"> <br>
                hilith@post.bgu.il</p>
                <p><img src="{{ url_for('static', filename='img/telpone.png') }}" alt= "the image is not avilble" width="30px"><br>
                052-8989898</p>
                <p><a href="https://www.linkedin.com"  id="S">
                    <img class="socialMedia" id ="linkd" src="{{ url_for('static', filename='img/LinkedIn.png') }}" alt= "the image is not avilble" width="50px"></a>
                 <a href="https://www.instagram.com">
                    <img class="socialMedia" id="insta" src="{{ url_for('static', filename='img/instgram.JPG') }}" alt= "the image is not avilble" width="50px"></a>
                 <a href="https://www.facebook.com">
                    <img class="socialMedia" id="face" src="{{ url_for('static', filename='img/facebook.JPG') }}"alt= "the image is not avilble" width="50px"></a>
                 <h4><a class="otherPage" href="{{ url_for('static', filename='img/Hilit Hazan CV.pdf') }}" download> Get Hilit's CV</a></h4>
                 <h4><a class="otherPage" href="{{ url_for('page3') }}" > Contact me</a></h4>
                <h4> <a class="otherPage" href="{{ url_for('UserList') }}" >Users List</a></h4>
               </p>

           </div>

        </div>

    </body>
</html>