<!doctype html>
<html>
    <head>
        <title>Contact Me</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Css_CV.CSS') }}">
        <script type = "text/javascript" src="{{ url_for('static', filename='JS.js') }}"></script>
    </head>
    <body>
        <div class="grid-container">
        <div class= "contact_me">
<h1>Contact Me</h1>
<form>
    <label for="FirstName">First Name:</label>
    <input type ="text" id="FirstName" name= "FirstName"><br><br>
    <label for="LastName">Last Name:</label>
    <input type ="text" id="LastName" name= "LastName"><br><br>
    <p>Choose Your Gener:</p>
    <input type="radio" id=Female name="Gender">
    <label for="Female">Female</label><br>
    <input type="radio" id=Male name="Gender">
    <label for="Male">Male</label><br>
    <input type="radio" id=Other name="Gender">
    <label for="Other">Other</label><br><br>
    <label for="Email">Email:</label>
    <input type ="text" id="Email" name= "Email"><br><br>
    <label for="Comment">Comment:</label><br>
    <textarea id="Comment" name="Comment" cols="50" rows="5"></textarea><br><br>
    <p id="Submit"></p>
    <button type="button" onclick="RcivedComment()">Submit</button><br><br>

    <a class="back" href="{{ url_for('page2') }}">Back</a>
</form>
</div> </div>
 </body>
    </html>